In [3]:
import numpy as np
import pandas as pd
df=pd.read_csv('/content/drive/MyDrive/Salary_Data.csv')
#volume_data=np.random.rand(1000000)
v=len(df)
print("volume of data",v)

volume of data 30

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import time
for i in range(v):
  velocity_data=np.random.rand()
  print("velocity data is",velocity_data)
  time.sleep(2)

velocity data is 0.21739512819669338
velocity data is 0.27702692534648077
velocity data is 0.7037669903544577
velocity data is 0.47820629229126355
velocity data is 0.4363313982600814
velocity data is 0.8999479180682579
velocity data is 0.7729682158223252
velocity data is 0.2698481319829409
velocity data is 0.025329772288961938
velocity data is 0.21563042584063286
velocity data is 0.4675499784142525
velocity data is 0.31441755534147353
velocity data is 0.29661374064328305
velocity data is 0.9507132951504471
velocity data is 0.5869044884550951
velocity data is 0.19073866708933418
velocity data is 0.3900623455353611
velocity data is 0.42312202298881585
velocity data is 0.23628840746483615
velocity data is 0.023795843257060523
velocity data is 0.34703783562838864
velocity data is 0.4716953181755613
velocity data is 0.5111965222295762
velocity data is 0.9551999867912992
velocity data is 0.12702946896842793
velocity data is 0.2136150492702077
velocity data is 0.9597182105468968
velocity data is 0.6404240061000006
velocity data is 0.7654493208014389
velocity data is 0.9714354628012236

In [5]:
import random
veracity_data=[random.choice(df.values.tolist())for _ in range(v)]
print(veracity_data)

[[4.9, 67938.0], [10.3, 122391.0], [5.9, 81363.0], [3.0, 60150.0], [6.0, 93940.0], [9.6, 112635.0], [7.1, 98273.0], [2.2, 39891.0], [8.2, 113812.0], [4.0, 56957.0], [6.8, 91738.0], [9.6, 112635.0], [8.7, 109431.0], [7.1, 98273.0], [3.2, 54445.0], [5.9, 81363.0], [9.6, 112635.0], [9.6, 112635.0], [2.0, 43525.0], [4.1, 57081.0], [10.3, 122391.0], [3.2, 64445.0], [9.5, 116969.0], [2.0, 43525.0], [5.9, 81363.0], [9.0, 105582.0], [2.2, 39891.0], [3.7, 57189.0], [5.3, 83088.0], [2.0, 43525.0]]

In [6]:
print("Variety of data:")
print(df.info())

Variety of data:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     float64
 1   Salary           30 non-null     float64
dtypes: float64(2)
memory usage: 608.0 bytes
None