In [ ]:
import pandas as pd
a = ["jwalitha",'Ramya','Durga','Jahnavi','Lahari','Sunny','ggg']
r=pd.Series(a,index=[67,43,44,89,34,35,23])
print(r)

67    jwalitha
43       Ramya
44       Durga
89     Jahnavi
34      Lahari
35       Sunny
23         ggg
dtype: object

In [ ]:
import pandas as pd
df=pd.read_csv("/content/grades_withnulls.csv")
print(df)

     Names Initials  SEM1  SEM2  SEM3 Grade  Placed
0      Joe        K   9.8  10.0   9.9    A+       1
1   Rajesh        M   8.9   9.1   9.3     A       1
2   Kissan        V   9.9   9.8  10.0     A       0
3     Mary        N   7.7   8.0   NaN     B       0
4     Jeen        K   9.8   9.1   9.9    A+       1
5      Raj        M   8.9   9.1   9.3     A       1
6   Hassan        V   9.9   9.0   9.2     A       1
7     Mari        N   7.7   8.0   7.1     B       1
8     Jess        K   NaN   9.1   9.9    A+       1
9   Rajini        M   NaN   9.1   9.3     A       0
10   Kiran        V   NaN   9.3   9.2     A       0
11    Maya        N   7.7   8.0   7.1     B       0
12   Jolin        K   9.8   9.1   9.9    A+       1
13  Rajesh        M   8.9   9.1   9.3     A       1
14    Riya        M   9.3   9.9  10.0     A       1
15    Sana        V   9.9   9.3   9.2     A       0
16    Mark        N   7.7   8.0   7.0     B       0

In [ ]:

import pandas as pd
d=pd.read_excel("/content/diabetcsv.xlsx")
print(d)

     preg  plas  pres  skin  insu  mass   pedi  age            class
0       6   148    72    35     0  33.6  0.627   50  tested_positive
1       1    85    66    29     0  26.6  0.351   31  tested_negative
2       8   183    64     0     0  23.3  0.672   32  tested_positive
3       1    89    66    23    94  28.1  0.167   21  tested_negative
4       0   137    40    35   168  43.1  2.288   33  tested_positive
..    ...   ...   ...   ...   ...   ...    ...  ...              ...
763    10   101    76    48   180  32.9  0.171   63  tested_negative
764     2   122    70    27     0  36.8  0.340   27  tested_negative
765     5   121    72    23   112  26.2  0.245   30  tested_negative
766     1   126    60     0     0  30.1  0.349   47  tested_positive
767     1    93    70    31     0  30.4  0.315   23  tested_negative

[768 rows x 9 columns]

In [ ]:
import pandas as pd
df=pd.read_csv("/content/diabetcsv.csv")
print(df.head())
print(df.tail(n=10))

   preg  plas  pres  skin  insu  mass   pedi  age            class
0     6   148    72    35     0  33.6  0.627   50  tested_positive
1     1    85    66    29     0  26.6  0.351   31  tested_negative
2     8   183    64     0     0  23.3  0.672   32  tested_positive
3     1    89    66    23    94  28.1  0.167   21  tested_negative
4     0   137    40    35   168  43.1  2.288   33  tested_positive
     preg  plas  pres  skin  insu  mass   pedi  age            class
758     1   106    76     0     0  37.5  0.197   26  tested_negative
759     6   190    92     0     0  35.5  0.278   66  tested_positive
760     2    88    58    26    16  28.4  0.766   22  tested_negative
761     9   170    74    31     0  44.0  0.403   43  tested_positive
762     9    89    62     0     0  22.5  0.142   33  tested_negative
763    10   101    76    48   180  32.9  0.171   63  tested_negative
764     2   122    70    27     0  36.8  0.340   27  tested_negative
765     5   121    72    23   112  26.2  0.245   30  tested_negative
766     1   126    60     0     0  30.1  0.349   47  tested_positive
767     1    93    70    31     0  30.4  0.315   23  tested_negative

In [ ]:
import pandas as pd
df=pd.read_csv("/content/diabetcsv.csv")
print(df.describe)
print(df.describe().T)
print(df.shape)
print(df.shape[0])
print(df.shape[1])
print(df.columns)
df2=df.copy()
df2.loc[2:5,'SEM1']=7
df2.head(7)
df2.isnull().head(7)
df.isnull().tail(7)
print(df2.isnull().sum())
print(df2['SEM1'])
print(df2[['SEM1','mass']])
print(df[df.index==1])
print(df[df.index.isin(range(2,5))])
print(df2.loc[3])
df2.loc[6:11,'age']=None
print(df2.head(15))
df2.loc[[1,2,3]]
df2.loc[10:15,['mass','age']]
df2.iloc[10:14,:3]
df2.loc[:7:,["age"]]
df2.loc[df['mass']==33.6]
df2[df2.mass==33.6]
df2.loc[df2['mass']>30.0,['age']]
df3=df2.copy()
df3.dropna(inplace=True,how='all')
df3
mv=df3['mass'].mean()
df3=df3.fillna(mv)
print(mv)

<bound method NDFrame.describe of      preg  plas  pres  skin  insu  mass   pedi  age            class
0       6   148    72    35     0  33.6  0.627   50  tested_positive
1       1    85    66    29     0  26.6  0.351   31  tested_negative
2       8   183    64     0     0  23.3  0.672   32  tested_positive
3       1    89    66    23    94  28.1  0.167   21  tested_negative
4       0   137    40    35   168  43.1  2.288   33  tested_positive
..    ...   ...   ...   ...   ...   ...    ...  ...              ...
763    10   101    76    48   180  32.9  0.171   63  tested_negative
764     2   122    70    27     0  36.8  0.340   27  tested_negative
765     5   121    72    23   112  26.2  0.245   30  tested_negative
766     1   126    60     0     0  30.1  0.349   47  tested_positive
767     1    93    70    31     0  30.4  0.315   23  tested_negative

[768 rows x 9 columns]>
      count        mean         std     min       25%       50%        75%  \
preg  768.0    3.845052    3.369578   0.000   1.00000    3.0000    6.00000
plas  768.0  120.894531   31.972618   0.000  99.00000  117.0000  140.25000
pres  768.0   69.105469   19.355807   0.000  62.00000   72.0000   80.00000
skin  768.0   20.536458   15.952218   0.000   0.00000   23.0000   32.00000
insu  768.0   79.799479  115.244002   0.000   0.00000   30.5000  127.25000
mass  768.0   31.992578    7.884160   0.000  27.30000   32.0000   36.60000
pedi  768.0    0.471876    0.331329   0.078   0.24375    0.3725    0.62625
age   768.0   33.240885   11.760232  21.000  24.00000   29.0000   41.00000

         max
preg   17.00
plas  199.00
pres  122.00
skin   99.00
insu  846.00
mass   67.10
pedi    2.42
age    81.00
(768, 9)
768
9
Index(['preg', 'plas', 'pres', 'skin', 'insu', 'mass', 'pedi', 'age', 'class'], dtype='object')
preg       0
plas       0
pres       0
skin       0
insu       0
mass       0
pedi       0
age        0
class      0
SEM1     764
dtype: int64
0      NaN
1      NaN
2      7.0
3      7.0
4      7.0
      ...
763    NaN
764    NaN
765    NaN
766    NaN
767    NaN
Name: SEM1, Length: 768, dtype: float64
     SEM1  mass
0     NaN  33.6
1     NaN  26.6
2     7.0  23.3
3     7.0  28.1
4     7.0  43.1
..    ...   ...
763   NaN  32.9
764   NaN  36.8
765   NaN  26.2
766   NaN  30.1
767   NaN  30.4

[768 rows x 2 columns]
   preg  plas  pres  skin  insu  mass   pedi  age            class
1     1    85    66    29     0  26.6  0.351   31  tested_negative
   preg  plas  pres  skin  insu  mass   pedi  age            class
2     8   183    64     0     0  23.3  0.672   32  tested_positive
3     1    89    66    23    94  28.1  0.167   21  tested_negative
4     0   137    40    35   168  43.1  2.288   33  tested_positive
preg                   1
plas                  89
pres                  66
skin                  23
insu                  94
mass                28.1
pedi               0.167
age                   21
class    tested_negative
SEM1                 7.0
Name: 3, dtype: object
    preg  plas  pres  skin  insu  mass   pedi   age            class  SEM1
0      6   148    72    35     0  33.6  0.627  50.0  tested_positive   NaN
1      1    85    66    29     0  26.6  0.351  31.0  tested_negative   NaN
2      8   183    64     0     0  23.3  0.672  32.0  tested_positive   7.0
3      1    89    66    23    94  28.1  0.167  21.0  tested_negative   7.0
4      0   137    40    35   168  43.1  2.288  33.0  tested_positive   7.0
5      5   116    74     0     0  25.6  0.201  30.0  tested_negative   7.0
6      3    78    50    32    88  31.0  0.248   NaN  tested_positive   NaN
7     10   115     0     0     0  35.3  0.134   NaN  tested_negative   NaN
8      2   197    70    45   543  30.5  0.158   NaN  tested_positive   NaN
9      8   125    96     0     0   0.0  0.232   NaN  tested_positive   NaN
10     4   110    92     0     0  37.6  0.191   NaN  tested_negative   NaN
11    10   168    74     0     0  38.0  0.537   NaN  tested_positive   NaN
12    10   139    80     0     0  27.1  1.441  57.0  tested_negative   NaN
13     1   189    60    23   846  30.1  0.398  59.0  tested_positive   NaN
14     5   166    72    19   175  25.8  0.587  51.0  tested_positive   NaN
31.992578124999998

In [ ]:
import pandas as pd
df=pd.read_csv("/content/grades_withnulls.csv")
d2=df.copy()
d2
d2.dropna(inplace=True,axis=1)
d2
d2.dropna(inplace=True,how='all')#remove both rows and columns if it has any null value
d2
mv=df['SEM1'].mean()
df=df.fillna(mv)
print(df)
print(mv)

     Names Initials      SEM1  SEM2       SEM3 Grade  Placed
0      Joe        K  9.800000  10.0   9.900000    A+       1
1   Rajesh        M  8.900000   9.1   9.300000     A       1
2   Kissan        V  9.900000   9.8  10.000000     A       0
3     Mary        N  7.700000   8.0   8.992857     B       0
4     Jeen        K  9.800000   9.1   9.900000    A+       1
5      Raj        M  8.900000   9.1   9.300000     A       1
6   Hassan        V  9.900000   9.0   9.200000     A       1
7     Mari        N  7.700000   8.0   7.100000     B       1
8     Jess        K  8.992857   9.1   9.900000    A+       1
9   Rajini        M  8.992857   9.1   9.300000     A       0
10   Kiran        V  8.992857   9.3   9.200000     A       0
11    Maya        N  7.700000   8.0   7.100000     B       0
12   Jolin        K  9.800000   9.1   9.900000    A+       1
13  Rajesh        M  8.900000   9.1   9.300000     A       1
14    Riya        M  9.300000   9.9  10.000000     A       1
15    Sana        V  9.900000   9.3   9.200000     A       0
16    Mark        N  7.700000   8.0   7.000000     B       0
8.992857142857144